.Donate{
    background-color: #ffffff;
    padding: 2%;
    width: 20vw;
    border-radius: .5vh;
}

.Donate > input{
    display: block;
    width: 97%;
    border: solid .1vh var(--color-d-border);
    border-radius: .5vh;
    font-size: 2vh;
    padding: 4% 0 4% 3%;
    margin-bottom: 3%;
    outline: none;
}

.Donate > button{
    display: block;
    width: 100%;
    font-size: 2.5vh;
    font-weight: 600;
    color: var(--color-d-bg);
    border: solid .1vh var(--color-d-border);
    padding: 3%;
    background-color: var(--color-ident);
    border-radius: .5vh;
    cursor: pointer;
}