
section{
    height: 20vh;
    padding: 1% 10%;
    text-align: left;
    background-image: url("../../assets/pattern.svg");
    background-color: rgb(145,78,241);
}

.separator{
    background-color: var(--color-ident);
    height: .6vh;
    border: none;
}

section > h1{
    color: var(--color-d-nav);
    font-size: 3vw;
    line-height: 2vw;
}

section > h2{
    color: var(--color-d-nav);
    opacity: 75%;
    font-size: 1.8vw;
    line-height: 2vw;
}

section > h3{
    color: var(--color-d-nav);
    opacity: 50%;
    font-size: 1.4vw;
    line-height: .8vw;
}
